body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
}

th {
    background-color: #717171;
}

form {
    width: 50%;
    margin: 0 auto;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #00ff26;
    color: black;
}
